*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

inc/.DS_Store
inc/templates/.DS_Store
.DS_Store
inc/templates/html5-drag-and-drop/css/style.css
inc/templates/html5-drag-and-drop/index.html
inc/templates/html5-drag-and-drop/index.php
inc/templates/html5-drag-and-drop/js/index.js
inc/templates/html5-drag-and-drop/license.txt
